* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-color: rgb(14, 13, 13);
	height: 100vh;
	width: 100vw;
	/* overflow: hidden; */
	background-image: url("../img/studio.jpg");
	background-size: cover;
	background-position: top;
}

#form-h1 {
	color: rgb(48, 47, 47);
}

/* .calendar-form input {
  margin: 1vw;
  text-align: center;
} */

/* a:link {
  color: red;
}

a:visited {
  color: red;
} */

#red {
	color: red;
}

.booking-confirm {
	color: black;
	border: 1px solid black;
	width: 15vw;
	border-radius: 0.3vw;
	background-color: white;
	padding: 1vw;
	position: absolute;
	top: 5vh;
	right: 2vw;

	animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
	0% {
		margin-top: -10vh;
		opacity: 0;
	}

	100% {
		opacity: 1;
		margin-top: 0vh;
	}
}

.form {
	position: relative;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
	text-align: center;
	background-color: white;
	width: 35vw;
	padding: 4vw;
	box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.212);
	border-radius: 0.2vw;
}

.form-input {
	margin: 1vw;
	width: 17vw;
	height: 5vh;
	padding: 1vw;
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	color: black;
	font-size: 1.2vw;
}

.booking-history-card {
	height: 8vh;
	width: 32vw;
	background-color: white;
	border-bottom: 1px solid grey;
	margin-top: 0.2vw;
	/* margin-right: 6vw; */
}

.date-section {
	/* border: 2px solid black; */
	width: 5vw;
	height: 8vh;
	float: right;
	text-align: center;
	margin-top: -1vh;
}

.date-section h2 {
	margin-top: 2vh;
}

.date-section p {
	margin-top: -2vh;
	font-size: 1vw;
}

.time-section {
	/* border: 2px solid black; */
	width: 22vw;
	height: 10vh;
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 8vh;
}

.status-section {
	width: 5vw;
	height: 8vh;
	line-height: 8vh;
	font-size: 0.8vw;
	color: green;
	padding-left: 2px;
}

.red {
	color: red;
	font-size: 0.9vw;
}

input:focus {
	outline: none;
}

::placeholder {
	color: rgb(48, 47, 47);
	font-size: 1.2vw;
}

.clock {
	background: white;
}

#error-message {
	color: red;
	/* border: 2px solid; */
	width: 15vw;
	text-align: center;
	margin: 0 auto;
	animation-name: flashing;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

button {
	outline: none;
}

@keyframes flashing {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.checkbox-container {
	border: 2px solid black;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: scroll;
	/* height: 15vh; */
}

.booking-conformation {
	text-align: center;
	vertical-align: middle;
	padding-top: 11.5vh;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 1.3vw;
}

.help-form-page {
	/* border: 2px solid white; */
	display: flex;
	height: 100vw;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.help-form {
	/* display: flex; */
}

.input {
	width: 22vw;
	height: 5vh;
	margin: 1vw;
	font-size: 1.2vw;
	text-align: center;
}

.textarea {
	width: 22vw;
	height: 15vh;
	margin: 1vw;
	font-size: 1.2vw;
	padding: 0.5vw;
}

.submit {
	width: 10vw;
	height: 5vh;
	border-radius: 0.5vw;
}
