* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(14, 13, 13);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('./img/studio.jpg');
  background-size: cover;
  background-position: top;
} 

.landing-background {
    background-color: rgb(14, 13, 13);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(rgba(119, 119, 119, 0.075), rgba(0, 0, 0, 0.877)),url('./img/studio.jpg');
    background-size: cover;
    background-position: top;
    text-align: center;
    color: white;
}

.nav-primary {
  position: relative;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  
}

.nav-primary a:visited {
  padding: 1vw;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}

.nav-primary a {
  padding: 1vw;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}

.calendar {
  margin: 0 auto;
  margin-top: 12vh;
  width: 24vw;
  /* box-shadow: 10px 10px 70px rgb(31, 30, 30); */

  animation: moveLeft 1s ease-out;
  
}

.h1 {
  color: white;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-size: 2vw;
  padding: 1vw;
  margin-top: -4vh;
}

#form-h1 {
  color: rgb(48, 47, 47);
}
.calendar-form {
  margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  width: 24vw;
  margin-top: 10vh;
  color: white;
  /* border: 2px solid white; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5vw;
}

/* .calendar-form input {
  margin: 1vw;
  text-align: center;
} */

@keyframes moveLeft {
  0% {
    margin-top: -50vh;
  }

  50% {
    margin-top: 15vh;
  }

  75% {
    margin-top: 7vh;
  }
  
  100% {
    margin-top: 12vh;
  }
}

.calendar-button-div {
  
  display: inline-block;
}

.calendar-button {
  margin: 1vw;
  width: 17vw;
  height: 5vh;
  border-radius: 1rem;
  font-size: 1vw;
  background-color: rgb(246, 242, 242);
  margin-top: 5vh;
  
}

a:link {
  color: red;
}

a:visited {
  color: red;
}

.landingPage-heading {
  font-size: 8vw;
  margin-top: 24vh;
  font-family: 'Economica', sans-serif;
  text-shadow: 2px 2px 50px gray;
}

.landing-button {
  margin: 0 auto;
  display: block;
  width: 15vw;
  height: 7vh;
  margin-top: 14vh;
  border-radius: 5vw;
  font-size: 1.3vw;
}


.landing-button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5vw;
  margin-top: 14vh;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.form {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  text-align: center;
  background-color: white;
  width: 35vw;
  padding: 4vw;
  box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.212);
  border-radius: .2vw;
  
  
}
.form-input {
  margin: 1vw;
  width: 17vw;
  height: 5vh;
  padding: 1vw;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  color: black;
  font-size: 1.2vw;
}

.booking-form {
  background-color: white;
  height: 35vh;
  width: 30vw;
  border-radius: .2vw;
}

.heading {
  display: block;
  font-size: 1vw;
  clear: both;
  text-align: center;
}

.booking-history-heading {
  color: white;
  text-align: center;
  padding: 3vw;
  border-bottom: 2px solid rgb(214, 213, 213);
  line-height: 2.0;
}

.booking-history-card {
  height: 10vh;
  width: 38vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-section {
  border: 2px solid black;
}

.status-section {
  position: absolute;

}

.booking-history-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90vh;
  padding: 3vw;
}
input:focus {outline:none;}

::placeholder {
  color: rgb(48, 47, 47);
  font-size: 1.2vw;
}

.x-button {
  /* border: 1px solid grey; */
  float: right;
  font-size: 1.2vw;
  color:black;
  padding: .4vw;

  background-color: transparent;
  
}

.time-frame {
  /* border: 2px solid black; */
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-button-area {
  text-align: center;
}

.logout-button {
  display: block;
  margin-left: 94vw;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1vw;
  padding: .8vw;
  
}


.clock {
  background: white;
}

#error-message {
  color: red;
  /* border: 2px solid; */
  width: 15vw;
  text-align: center;
  margin: 0 auto;
  animation-name: flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button {
  outline: none;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.checkbox-container {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  /* height: 15vh; */
}

/* Checkbox */

